#head img {
	margin-left: 50px;
	margin-top: 20px;
	height: 100px;
}

#quicklinks {
  position: absolute;
  top: 0;
  background-color: #8e8e8d;
  padding: 5px;
  padding-top: 20px;
  height: 85px;
  width: 518px;
  float: left;
}

#quicklinks, div#pagination, #search {
  margin-left: 260px;
  padding: 5px;

}

#quicklinks {
	margin-left: 260px;
}

#quicklinks ul {
  width: 400px;
  height: 40px;
}

#quicklinks ul li{
  list-style-type: none;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 5px;
}

#quicklinks ul li a {
  color: white;
  font-size: 13px;
}

#impressum {
	position: absolute;
	  top: 0;
	  background-color: #bfbfbf;
	  padding: 5px;
	  padding-top: 20px;
	  left: 788px;
	  height: 70px;
	  float: left;
	  
	  width: 278px;
}

#impressum ul li a {
	color: white;
	display: inline-block;
	margin-right: 13px;
	float: left;
	font-size: 13px;
	text-transform: uppercase;
	margin-top: -15px;
}

#impressum ul li {
	list-style-type: none;
}

#impressum ul {
	
	padding-left: 0;
}


#search {
	
	min-width: 400px;
}	


#search div.input-container {
	float: left;
	width: 466px;
}

form#quicksearch-form {
	
	margin-bottom: 15px;
}

#search div.input-container input {
	display: inline-block;
	width: 100%;
	height: 30px;
	line-height: 20px;
	font-size: 18px;
}

#search p {
	font-size: 12px;
	margin-top: 45px;
	
	color: #999999;
	clear: both;
}

.quicksearch-submit{
	height: 36px;
	padding-left: 7px;
	padding-right: 7px;
	position: absolute;
}

div#results {
	margin-top: 20px; 	
}

.result-list-wrapper {
  padding: 0;
  margin: 0;
  padding-top: 20px;
  
  width: 1080px;
  border-top: solid 1px #666666;
  float: left;
  margin-right: -250px;
}

.result-list {
  width: 537px;
  list-style-type: none;
  
  margin-left: 170px;
  padding-left: 40px;
  
  padding-right: 40px;
  
  margin-top: -20px;
  
  border-left: solid 1px #666666;
  border-right: solid 1px #666666;
}

.result-list li {
	margin-top: 35px;
	margin-bottom: 35px;
}

.result-title {
  width: 100%;
  height: 18px;
  line-height: 15px;
  margin-bottom: 10px;
}

h3.result-title {
	font-weight: bold;
}

.result-title a {
  font-size: 18px!important;
  color: black;
  text-decoration: none;
  line-height: 18px;
}


.result-title a:hover {
  text-decoration: underline;
}

.result-url {
  color: #339933;
  font-size: 13px;
  width: 100%;

  margin-top: -6px;
}


.result-snippet {
  background-color: none;
  border: none;
  margin-top: -12px;
}

.result-snippet {
  line-height: 16px;
  font-size: 13px;
  height: 33px;
  margin-top: -6px;
  overflow: hidden;
}

#suggestions {
	margin-top: 36px;
	position: relative;
	display: inline-block;
	max-width: 250px;
	position: absolute;
}

#suggestions h3 {
	font-size: 15px;
	margin: 0;
}

#suggestions ul {
	padding-left: 20px;
}

#suggestions ul li {
	font-size: 13px;
	padding: 5px;
}

#tagCloud {
	margin-top: 36px;
	position: relative;
	display: inline-block;
	max-width: 350px;
	min-width: 250px;
	width: auto;
	position: absolute;
	background-color: #ccc;
}

#tagCloud span {
	display: inline-block;
	margin: 5px;
}

div#pagination {
  margin-bottom: 100px;
  clear: both;
}

div #pagination a {
  display: inline-block;
  padding-right: 20px;
  font-size: 15pt;
}

div #pagination a.active {
  font-weight: bold;
}



#previewFrame {
	position: absolute;
	top: 220px;
	left: 1100px;
	width: 30%;
	height: 500px;
	max-width: 600px;
	
	background-color: #eeeeee;	
}

#previewFrame.hidden {
	display: none;
	visibility: hidden;
}

@media (min-width: 1100px) and (max-width: 1500px) {
	#previewFrame {
		left: 800px;
		width: 30%;
	}
}