#quicklinks {
  position: absolute;
  top: 0;
  margin-left: 210px;
  background-color: #8e8e8d;
  padding: 5px;
  padding-top: 20px;
  height: 85px;
  width: 436px;
}

#quicklinks ul {
  width: 400px;
  height: 40px;
}

#quicklinks ul li{
  list-style-type: none;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 5px;
}

#quicklinks ul li a {
  color: white;
  font-size: 13px;
}


#search {
	 margin-left: 210px;
	margin-top: 40px;
	
	min-width: 400px;
}	


#search div.input-container {
	float: left;
	width: 400px;
}

#search div.input-container input {
	width: 100%;
}


.results {
  width: 60%;
}

.result-title {
  width: 100%;
}

.urlfield {
  color: #339933;
  font-size: 13px;
  width: 100%;

  margin-top: -6px;
}

.result-title {

  height: 15px;
  overflow: hidden;
}

.result-title a {
  font-size: 18px!important;
  color: black;
  text-decoration: none;
  line-height: 18px;

}

.result-title a:hover {
  text-decoration: underline;
}

.result-document {
  background-color: none;
  border: none;
  margin-top: -12px;
}

.result-document:first-child {
  margin-top: 0px;
}


.result-body {
  line-height: 16px;
  font-size: 13px;
  height: 28px;
  overflow: hidden;
  margin-top: -6px;
}
